@{
    ViewBag.Title = "O mnie";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered">
            <div class="item">
                <div class="content">

                    <p>About View</p>

                </div>
            </div>
        </div>

        <div class="col-xs-6 col-centered">
            <div class="item">
                <div class="content">
                    <p> Description </p>
                </div>
            </div>
        </div>
    </div>
</div>