@using Portfolio.Domain
@model  IEnumerable<Images>
@{
    Layout = null;
    string imagePath = ViewBag.imagePath.ToString();
}


    @foreach (var item in Model)
    {
        string path = imagePath + item.Name;
        <div class="text-center">
            <img src="@Url.Content(path)" class="img-fluid" alt="Responsive image" />
        </div>
    }






