@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div>
    @Html.Action("GetAboutMe", "AboutMe")
</div>


<div>
    @Html.Action("AllProjects", "Projects")
</div>

